.UserContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    width: 100%;

    
}
.UserInfo{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 20px;
    
}
.UserNickname{
    font-size: 40px;
    font-weight: bolder;
}
.UsernameAndDate{
    font-size: 24px;
    color: #696969;
    font-weight: normal;

}
.UserProfilePfp{
    border-radius: 16px;

}