.UserContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    gap: 20px;

    
}
.UserInfo{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 1204px;
    gap: 20px;
    
}
.UserNickname{
    font-size: 40px;
    font-weight: bolder;
}
.UsernameAndDate{
    font-size: 24px;
    color: #696969;
    font-weight: normal;
    width: 700px;

}
.UserProfilePfp{
    border-radius: 16px;
    width: 300px;
    height: 300px;
    

}
.UserButtonsWrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;

}
.UserLogoutButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    font-size: 24px;
    background: #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    border: none;
  
}
.UserLogoutIcon{
    height: 48px;
    width: 48px;
}
.UserButtonsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.UserSettingsButton:hover{
    background-color: #DFDFDF;
}
.createButtonShadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.CreatePostContent{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.genresCreatePostContainer{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    align-items: center;
    justify-content: center;
}


.genresCreatePostItem{
    margin-top: 4px;
    padding: 16px;
    border-radius: 16px;
    white-space: nowrap;
    
}
.genresCreatePostItem:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
