main{
    color:#454545;
}

.HeaderContent{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.PostHeader{
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: bolder;
    max-width: 100%;
    word-break: break-all; 
    overflow-wrap: anywhere;
    line-clamp: 4;
}
.PostUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}
.PostUserText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.PostDateAndUser{
    font-size: 18px;
    color: #696969;
    font-weight: normal;
}
.PostUserPfp{
    height: 72px;
    width: 72px;
    border-radius: 10000px;

}
.PostImage{

    min-height: 400px;
    max-width: 500px;
    max-height: 400px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.HeaderInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.PostText{
    font-size: 24px;
    line-height: 28px;

}
.likeButton{
    width: 100%;
    display: flex;
    gap: 10px;
}
.commentPfp{
    height: 64px;
    border-radius: 10000px;
}
.commentContainer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
}
.commentWrapper{
    
    min-width: 376px;
    margin: 8px 0px 8px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 8px;
    border-radius: 16px;
    h3{
        font-size: 18px;
        color: #696969;
        font-weight: normal;
    }
}
.commentWrapper:hover{
    background-color: #f5f5f5;
    transition: 0.1s;
    cursor: pointer;
}    

.postComment{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    gap:10px;
}
