button{
    cursor: pointer;
    transition: 0.1s;
    color: #454545;
}
.MainButton{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 12px 24px;
    font-size: 24px;
    background: #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    border: none;
    max-width: 300px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ButtonText{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.NavButton{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    margin: 8px 4px;
    font-size: 24px;
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
}
.NavButton:hover{
    background-color: #f5f5f5;
}
.MainButton:hover{
    background-color: #DFDFDF;
}